table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
.table_head td{
    background-color: #F0F0F0;
    font-weight: bold;
}
.table_content{
    height: 384px;
    display: block;
    overflow-x: auto;
}
td{
    width: 14.28%;
    height: 64px;
    border: 1px solid #B9B9B9;
    border-collapse: collapse;
    
}
::-webkit-scrollbar {
	width: 1px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}